.friend-list {
    width: 100%;
    margin: 20px auto;
    border-radius: 4px;
}

@media all and (min-width: 750px) {
    .friend-list {
        width: 66%
    }
}

.mat-column-edit {
    flex: 0 0 50px;
    width: 50px !important;
}